{% extends "base.html" %}

{% block content %}
    <h2>Список профессий</h2>
    {% set profs = ['Инженер-исследователь', 'Пилот', 'Строитель',
                  'Экзобиолог', 'Метеоролог', 'Врач', 'Климатолог', 'Астрогеолог',
                  'Гляциолог', 'Киберинженер', 'Штурман', 'Пилот дронов'] %}
    {% if list == 'ul' %}
        <ul>
            {% for prof in profs %}
                <li>{{ prof }}</li>
            {% endfor %}
        </ul>
    {% elif list == 'ol' %}
        <ol>
            {% for prof in profs %}
                <li>{{ prof }}</li>
            {% endfor %}
        </ol>
    {% else %}
        <h4>Неверный адрес</h4>
    {% endif %}
{% endblock %}
