{% extends "base.html" %}

{% block content %}
<img src="static/img/emblem.png"
     alt="здесь должна была быть картинка, но не нашлась">
<h4>Аварийный доступ</h4>
<form class="login" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.id_astro.label }} <br>
        {{ form.id_astro(class="form-control") }} <br>
        {% for error in form.id_astro.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.password_astro.label }}<br>
        {{ form.password_astro(class="form-control", type="password") }}<br>
        {% for error in form.password_astro.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.id_cap.label }} <br>
        {{ form.id_cap(class="form-control") }} <br>
        {% for error in form.id_cap.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>
        {{ form.password_cap.label }}<br>
        {{ form.password_cap(class="form-control", type="password") }}<br>
        {% for error in form.password_cap.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    </p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}